.flows.json.backup
[
    {
        "id": "4f19d12f.1e2c4",
        "type": "tab",
        "label": "Mode S Decode & Store",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9035c9b55cbf0c98",
        "type": "tab",
        "label": "Stream Aircraft",
        "disabled": false,
        "info": ""
    },
    {
        "id": "440cd06f.70f26",
        "type": "tab",
        "label": "UI - Flight map",
        "disabled": false,
        "info": ""
    },
    {
        "id": "96e62eeb.e7c3d",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#3f4aa2",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "dark"
            }
        },
        "site": {
            "name": "ADS-B Receiver",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "none",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "f18730a5.cb179",
        "type": "tcp in",
        "z": "4f19d12f.1e2c4",
        "name": "",
        "server": "client",
        "host": "192.168.1.12",
        "port": "8080",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "\\n",
        "topic": "",
        "base64": false,
        "x": 120,
        "y": 40,
        "wires": [
            [
                "915434e92b5884f1"
            ]
        ]
    },
    {
        "id": "834e8281.fc9e2",
        "type": "change",
        "z": "440cd06f.70f26",
        "name": "set map props",
        "rules": [
            {
                "t": "set",
                "p": "payload.name",
                "pt": "msg",
                "to": "payload.hex_ident",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.tooltip",
                "pt": "msg",
                "to": "msg.payload.flight_id ? msg.payload.flight_id : msg.payload.hex_ident",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.iconColor",
                "pt": "msg",
                "to": "msg.payload.vertical_rate  < -100 ? \"red\" : msg.payload.vertical_rate > 100 ? \"green\" : \"black\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.icon",
                "pt": "msg",
                "to": "plane",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.heading",
                "pt": "msg",
                "to": "payload.track",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.speed",
                "pt": "msg",
                "to": "payload.ground_speed",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.layer",
                "pt": "msg",
                "to": "aircraft",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 80,
        "wires": [
            [
                "f71fd6b4.bf26c8"
            ]
        ]
    },
    {
        "id": "5e748ed5.52e88",
        "type": "link in",
        "z": "440cd06f.70f26",
        "name": "aircraft reader",
        "links": [
            "e38f79f9.9bcf28",
            "7de6f7c3.2417a8",
            "5b9475225b74a688"
        ],
        "x": 95,
        "y": 80,
        "wires": [
            [
                "834e8281.fc9e2"
            ]
        ]
    },
    {
        "id": "d77f72ea.f89fc",
        "type": "change",
        "z": "440cd06f.70f26",
        "name": "set labels",
        "rules": [
            {
                "t": "set",
                "p": "labels",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "c85c2e14.e5154",
        "type": "switch",
        "z": "440cd06f.70f26",
        "name": "labels?",
        "property": "labels",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 340,
        "y": 180,
        "wires": [
            [
                "de00bbda.b59ec8"
            ],
            [
                "e0a1ff6b.edb8b"
            ]
        ],
        "outputLabels": [
            "use label",
            "use tooltip"
        ]
    },
    {
        "id": "e0a1ff6b.edb8b",
        "type": "change",
        "z": "440cd06f.70f26",
        "name": "tooltip",
        "rules": [
            {
                "t": "set",
                "p": "payload.tooltip",
                "pt": "msg",
                "to": "msg.payload.flight_id ? msg.payload.flight_id : msg.payload.hex_ident",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.label",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 200,
        "wires": [
            [
                "c25e97fe.190c28"
            ]
        ]
    },
    {
        "id": "de00bbda.b59ec8",
        "type": "change",
        "z": "440cd06f.70f26",
        "name": "label",
        "rules": [
            {
                "t": "set",
                "p": "payload.label",
                "pt": "msg",
                "to": "msg.payload.flight_id ? msg.payload.flight_id : msg.payload.hex_ident",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 160,
        "wires": [
            [
                "c25e97fe.190c28"
            ]
        ]
    },
    {
        "id": "e2da32bb.db098",
        "type": "switch",
        "z": "440cd06f.70f26",
        "name": "action router",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "click",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "connecct",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "disconnect",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 310,
        "y": 420,
        "wires": [
            [
                "ecf80a0c.3955d8"
            ],
            [],
            []
        ],
        "outputLabels": [
            "on click",
            "on connect",
            "on disconnect"
        ]
    },
    {
        "id": "bae2d6dd.ffe6d8",
        "type": "function",
        "z": "440cd06f.70f26",
        "name": "popped?",
        "func": "const popped = flow.get('popped') || [];\nmsg.payload.popped = popped.includes(msg.payload.hex_ident);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 180,
        "wires": [
            [
                "c85c2e14.e5154"
            ]
        ]
    },
    {
        "id": "ecf80a0c.3955d8",
        "type": "function",
        "z": "440cd06f.70f26",
        "name": "set popped",
        "func": "let popped = flow.get('popped') || [];\nconst idx = popped.indexOf(msg.payload.name);\nif(idx < 0){\n    popped.push(msg.payload.name);\n}else{\n    popped.splice(idx, 1);\n}\nflow.set('popped', popped);\n\nreturn ;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "f71fd6b4.bf26c8",
        "type": "change",
        "z": "440cd06f.70f26",
        "name": "accuracy",
        "rules": [
            {
                "t": "set",
                "p": "payload.accuracy",
                "pt": "msg",
                "to": "payload.delta_track",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 80,
        "wires": [
            [
                "bae2d6dd.ffe6d8"
            ]
        ]
    },
    {
        "id": "76bbb0b2.cec9d",
        "type": "debug",
        "z": "4f19d12f.1e2c4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 320,
        "wires": []
    },
    {
        "id": "c25e97fe.190c28",
        "type": "worldmap",
        "z": "440cd06f.70f26",
        "name": "",
        "lat": "34",
        "lon": "-111",
        "zoom": "6",
        "layer": "OSM",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "none",
        "showgrid": "false",
        "allowFileDrop": "false",
        "path": "/flights",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 680,
        "y": 120,
        "wires": []
    },
    {
        "id": "de8f8d36.ccc81",
        "type": "worldmap in",
        "z": "440cd06f.70f26",
        "name": "",
        "path": "/worldmap",
        "events": "all",
        "x": 190,
        "y": 320,
        "wires": [
            [
                "e2da32bb.db098"
            ]
        ]
    },
    {
        "id": "915434e92b5884f1",
        "type": "function",
        "z": "4f19d12f.1e2c4",
        "name": "msg->hex",
        "func": " msg.payload = msg.payload.replace(/[\\*\\r\\n;]/g, '');\n \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 40,
        "wires": [
            [
                "15c640ed79dd6ac0"
            ]
        ]
    },
    {
        "id": "15c640ed79dd6ac0",
        "type": "function",
        "z": "4f19d12f.1e2c4",
        "name": "hex->bin",
        "func": "function parseHexString(str) { \n    var result = [];\n    while (str.length > 0) { \n        result.push(parseInt(str.substring(0, 2), 8));\n        str = str.substring(2, str.length);\n    }\n\n    return result;\n}\n\nmsg.payload = parseHexString(msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 140,
        "wires": [
            [
                "f61cac23e6a92522"
            ]
        ]
    },
    {
        "id": "f61cac23e6a92522",
        "type": "functionx",
        "z": "4f19d12f.1e2c4",
        "name": "s-mode decode",
        "func": "const Decoder = require('mode-s-decoder')\n\nlet decoder = flow.get('decoder')\nif(!decoder){\n    decoder = new Decoder();\n    flow.set('decoder', decoder)\n}\nmsg.payload = decoder.parse(msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 200,
        "y": 240,
        "wires": [
            [
                "f3c5bb66f70fc8a0"
            ]
        ]
    },
    {
        "id": "f3c5bb66f70fc8a0",
        "type": "functionx",
        "z": "4f19d12f.1e2c4",
        "name": "aircraft db",
        "func": "const AircraftStore = require('mode-s-aircraft-store')\n\nlet store = global.get('store');\nif(!store){\n    store = new AircraftStore({timeout: 120000});\n    global.set('store', store);\n}\n\nstore.addMessage(msg.payload);\nmsg.payload = store.getAircrafts();\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 420,
        "y": 320,
        "wires": [
            [
                "76bbb0b2.cec9d"
            ]
        ]
    },
    {
        "id": "761b567dd02660ca",
        "type": "inject",
        "z": "9035c9b55cbf0c98",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 170,
        "y": 80,
        "wires": [
            [
                "9d214af884b0cdc2"
            ]
        ]
    },
    {
        "id": "9d214af884b0cdc2",
        "type": "function",
        "z": "9035c9b55cbf0c98",
        "name": "read aircraft db",
        "func": "let store = global.get('store');\nif(store){\n    msg.payload = store.getAircrafts();\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 160,
        "wires": [
            [
                "55e7958f180128d7"
            ]
        ]
    },
    {
        "id": "fd3a467352ba7c80",
        "type": "debug",
        "z": "9035c9b55cbf0c98",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 280,
        "wires": []
    },
    {
        "id": "55e7958f180128d7",
        "type": "split",
        "z": "9035c9b55cbf0c98",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 390,
        "y": 320,
        "wires": [
            [
                "739a4f70b71a8b95"
            ]
        ]
    },
    {
        "id": "5b9475225b74a688",
        "type": "link out",
        "z": "9035c9b55cbf0c98",
        "name": "aircraft writer",
        "links": [
            "5e748ed5.52e88"
        ],
        "x": 605,
        "y": 400,
        "wires": []
    },
    {
        "id": "739a4f70b71a8b95",
        "type": "function",
        "z": "9035c9b55cbf0c98",
        "name": "",
        "func": "if(!msg.payload.callsign){\n    return null;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 420,
        "wires": [
            [
                "fd3a467352ba7c80"
            ]
        ]
    }
]