flows.json
[
    {
        "id": "4f19d12f.1e2c4",
        "type": "tab",
        "label": "ADS-B Receiver",
        "disabled": false,
        "info": ""
    },
    {
        "id": "440cd06f.70f26",
        "type": "tab",
        "label": "UI - Flight map",
        "disabled": false,
        "info": ""
    },
    {
        "id": "96e62eeb.e7c3d",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#3f4aa2",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "dark"
            }
        },
        "site": {
            "name": "ADS-B Receiver",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "none",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "f18730a5.cb179",
        "type": "tcp in",
        "z": "4f19d12f.1e2c4",
        "name": "",
        "server": "client",
        "host": "192.168.1.100",
        "port": "30003",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "\\n",
        "topic": "",
        "base64": false,
        "x": 150,
        "y": 60,
        "wires": [
            [
                "bd3e632b.fd2f3",
                "76bbb0b2.cec9d"
            ]
        ]
    },
    {
        "id": "7de6f7c3.2417a8",
        "type": "link out",
        "z": "4f19d12f.1e2c4",
        "name": "aircraft messages",
        "links": [
            "17438f18.aa3ae1",
            "5e748ed5.52e88"
        ],
        "x": 615,
        "y": 300,
        "wires": []
    },
    {
        "id": "99cfcf6c.0ccf5",
        "type": "switch",
        "z": "4f19d12f.1e2c4",
        "name": "msg_type router",
        "property": "payload.message_type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "SEL",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ID",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "AIR",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "STA",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "CLK",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 580,
        "y": 60,
        "wires": [
            [],
            [],
            [],
            [],
            [],
            [
                "6b2eb604.61d508"
            ]
        ],
        "outputLabels": [
            "SELECTION CHANGE MESSAGE",
            " NEW ID MESSAGE",
            " NEW AIRCRAFT MESSAGE",
            "STATUS CHANGE MESSAGE",
            " CLICK MESSAGE",
            " TRANSMISSION MESSAGE"
        ]
    },
    {
        "id": "834e8281.fc9e2",
        "type": "change",
        "z": "440cd06f.70f26",
        "name": "set map props",
        "rules": [
            {
                "t": "set",
                "p": "payload.name",
                "pt": "msg",
                "to": "payload.hex_ident",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.tooltip",
                "pt": "msg",
                "to": "msg.payload.flight_id ? msg.payload.flight_id : msg.payload.hex_ident",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.iconColor",
                "pt": "msg",
                "to": "msg.payload.vertical_rate  < -100 ? \"red\" : msg.payload.vertical_rate > 100 ? \"green\" : \"black\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.icon",
                "pt": "msg",
                "to": "plane",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.heading",
                "pt": "msg",
                "to": "payload.track",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.speed",
                "pt": "msg",
                "to": "payload.ground_speed",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.layer",
                "pt": "msg",
                "to": "aircraft",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 80,
        "wires": [
            [
                "f71fd6b4.bf26c8"
            ]
        ]
    },
    {
        "id": "5e748ed5.52e88",
        "type": "link in",
        "z": "440cd06f.70f26",
        "name": "aircraft reader",
        "links": [
            "e38f79f9.9bcf28",
            "7de6f7c3.2417a8"
        ],
        "x": 95,
        "y": 80,
        "wires": [
            [
                "834e8281.fc9e2"
            ]
        ]
    },
    {
        "id": "e1c8d108.0f526",
        "type": "function",
        "z": "4f19d12f.1e2c4",
        "name": "000000 filter",
        "func": "\nreturn msg.payload.hex_ident === \"000000\" ? null :msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 160,
        "wires": [
            [
                "32a64cec.6fdd74"
            ]
        ]
    },
    {
        "id": "6b2eb604.61d508",
        "type": "function",
        "z": "4f19d12f.1e2c4",
        "name": "sbs1 -> aircraft",
        "func": "\nconst fns = [\n    props => ({hex_ident: props.hex_ident}),\n    props => ({flight_id: props.flight_id ? props.flight_id.trim() : null}),\n    props => ({timestamp: Date.parse(props.logged_date + \" \" + props.logged_time)}),\n    props => ({altitude: props.altitude}),\n    props => ({ground_speed: props.ground_speed}),\n    props => ({track: props.track}),\n    props => ({lat: props.lat}),\n    props => ({lon: props.lon}),\n    props => ({vertical_rate: props.vertical_rate})\n];\n\nmsg.payload = fns.map(f => f.call(this, msg.payload)).reduce((a,c)=> Object.assign(a,c), {});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 160,
        "wires": [
            [
                "e1c8d108.0f526"
            ]
        ]
    },
    {
        "id": "e9b077cd.45f108",
        "type": "function",
        "z": "4f19d12f.1e2c4",
        "name": "update cache",
        "func": "flow.set(msg.payload.hex_ident, msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 240,
        "wires": [
            [
                "f6b5665b.4fac88"
            ]
        ]
    },
    {
        "id": "32a64cec.6fdd74",
        "type": "function",
        "z": "4f19d12f.1e2c4",
        "name": "update cache entry",
        "func": "const assign_if = (target, source) => {\n    Object.keys(source).forEach(key => {\n        if(!!source[key]) {\n            target[key] = source[key];\n        }\n    })\n    return target;\n}\n\nconst known = flow.get(msg.payload.hex_ident) || {};\n\nif(known.timestamp && msg.payload.timestamp)\n    known.delta_t = msg.payload.timestamp - known.timestamp;\nelse\n    known.delta_t = 0;\n    \nif(known.track && msg.payload.track)\n    known.delta_track = Math.abs(msg.payload.track - known.track);\nelse\n    known.delta_track= 0;\n\nmsg.payload = assign_if(known, msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 240,
        "wires": [
            [
                "e9b077cd.45f108"
            ]
        ]
    },
    {
        "id": "f6b5665b.4fac88",
        "type": "function",
        "z": "4f19d12f.1e2c4",
        "name": "detach",
        "func": "msg.payload = Object.assign({}, msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 150,
        "y": 300,
        "wires": [
            [
                "7de6f7c3.2417a8"
            ]
        ]
    },
    {
        "id": "d77f72ea.f89fc",
        "type": "change",
        "z": "440cd06f.70f26",
        "name": "set labels",
        "rules": [
            {
                "t": "set",
                "p": "labels",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "c85c2e14.e5154",
        "type": "switch",
        "z": "440cd06f.70f26",
        "name": "labels?",
        "property": "labels",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 340,
        "y": 180,
        "wires": [
            [
                "de00bbda.b59ec8"
            ],
            [
                "e0a1ff6b.edb8b"
            ]
        ],
        "outputLabels": [
            "use label",
            "use tooltip"
        ]
    },
    {
        "id": "e0a1ff6b.edb8b",
        "type": "change",
        "z": "440cd06f.70f26",
        "name": "tooltip",
        "rules": [
            {
                "t": "set",
                "p": "payload.tooltip",
                "pt": "msg",
                "to": "msg.payload.flight_id ? msg.payload.flight_id : msg.payload.hex_ident",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.label",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 200,
        "wires": [
            [
                "c25e97fe.190c28"
            ]
        ]
    },
    {
        "id": "de00bbda.b59ec8",
        "type": "change",
        "z": "440cd06f.70f26",
        "name": "label",
        "rules": [
            {
                "t": "set",
                "p": "payload.label",
                "pt": "msg",
                "to": "msg.payload.flight_id ? msg.payload.flight_id : msg.payload.hex_ident",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 160,
        "wires": [
            [
                "c25e97fe.190c28"
            ]
        ]
    },
    {
        "id": "e2da32bb.db098",
        "type": "switch",
        "z": "440cd06f.70f26",
        "name": "action router",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "click",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "connecct",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "disconnect",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 310,
        "y": 420,
        "wires": [
            [
                "ecf80a0c.3955d8"
            ],
            [],
            []
        ],
        "outputLabels": [
            "on click",
            "on connect",
            "on disconnect"
        ]
    },
    {
        "id": "bae2d6dd.ffe6d8",
        "type": "function",
        "z": "440cd06f.70f26",
        "name": "popped?",
        "func": "const popped = flow.get('popped') || [];\nmsg.payload.popped = popped.includes(msg.payload.hex_ident);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 180,
        "wires": [
            [
                "c85c2e14.e5154"
            ]
        ]
    },
    {
        "id": "ecf80a0c.3955d8",
        "type": "function",
        "z": "440cd06f.70f26",
        "name": "set popped",
        "func": "let popped = flow.get('popped') || [];\nconst idx = popped.indexOf(msg.payload.name);\nif(idx < 0){\n    popped.push(msg.payload.name);\n}else{\n    popped.splice(idx, 1);\n}\nflow.set('popped', popped);\n\nreturn ;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "f71fd6b4.bf26c8",
        "type": "change",
        "z": "440cd06f.70f26",
        "name": "accuracy",
        "rules": [
            {
                "t": "set",
                "p": "payload.accuracy",
                "pt": "msg",
                "to": "payload.delta_track",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 80,
        "wires": [
            [
                "bae2d6dd.ffe6d8"
            ]
        ]
    },
    {
        "id": "76bbb0b2.cec9d",
        "type": "debug",
        "z": "4f19d12f.1e2c4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 400,
        "wires": []
    },
    {
        "id": "bd3e632b.fd2f3",
        "type": "npm",
        "z": "4f19d12f.1e2c4",
        "name": "sbs1 decoder",
        "func": "// NPM module exposed as variable, npm_module\nreturn npm_module(msg.payload);",
        "npm_module": "sbs1-compat",
        "module_style": "function",
        "msg_payload": "return_val",
        "function_name": "parseSbs1Message",
        "x": 380,
        "y": 40,
        "wires": [
            [
                "99cfcf6c.0ccf5"
            ]
        ],
        "outputLabels": [
            "decoded ads-b messages"
        ]
    },
    {
        "id": "c25e97fe.190c28",
        "type": "worldmap",
        "z": "440cd06f.70f26",
        "name": "",
        "lat": "34",
        "lon": "-111",
        "zoom": "6",
        "layer": "OSM",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "none",
        "showgrid": "false",
        "allowFileDrop": "false",
        "path": "/flights",
        "x": 680,
        "y": 120,
        "wires": []
    },
    {
        "id": "de8f8d36.ccc81",
        "type": "worldmap in",
        "z": "440cd06f.70f26",
        "name": "",
        "path": "/worldmap",
        "events": "all",
        "x": 190,
        "y": 320,
        "wires": [
            [
                "e2da32bb.db098"
            ]
        ]
    }
]