data/ui/flows.json
[
    {
        "id": "9e95f962de164512",
        "type": "tab",
        "label": "dump1090",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a434980c0d70073f",
        "type": "tab",
        "label": "map",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "eeaa68697bf28d0e",
        "type": "tab",
        "label": "dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "65a0877e913c9221",
        "type": "ui_tab",
        "name": "Plane Spotter",
        "icon": "dashboard",
        "disabled": false,
        "hidden": true
    },
    {
        "id": "5c701558e935be96",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#408080",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#408080",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#408080",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#5eaeae",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#408080",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Plane Spotter",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "8363fd07a79e8b50",
        "type": "ui_group",
        "name": "Map",
        "tab": "65a0877e913c9221",
        "order": 1,
        "disp": false,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "350b84a00a67874f",
        "type": "ui_group",
        "name": "Aircraft",
        "tab": "65a0877e913c9221",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2a53099271750475",
        "type": "ui_group",
        "name": "Aircraft Detail",
        "tab": "65a0877e913c9221",
        "order": 3,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5d571e7886c72a5e",
        "type": "ui_group",
        "name": "Station",
        "tab": "65a0877e913c9221",
        "order": 4,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a7ed5422fd0a945e",
        "type": "watch",
        "z": "9e95f962de164512",
        "name": "aircraft.json",
        "files": "/data/tmp/aircraft.json",
        "recursive": "",
        "x": 190,
        "y": 80,
        "wires": [
            [
                "c8c37713f6d3bdbb"
            ]
        ]
    },
    {
        "id": "c8c37713f6d3bdbb",
        "type": "file in",
        "z": "9e95f962de164512",
        "name": "",
        "filename": "payload",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 400,
        "y": 140,
        "wires": [
            [
                "bde103ae399da555"
            ]
        ]
    },
    {
        "id": "bde103ae399da555",
        "type": "json",
        "z": "9e95f962de164512",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 550,
        "y": 140,
        "wires": [
            [
                "7f3c6f83cc47b9f3"
            ]
        ]
    },
    {
        "id": "c6059b90618c8864",
        "type": "watch",
        "z": "9e95f962de164512",
        "name": "stats.json",
        "files": "/data/tmp/stats.json",
        "recursive": "",
        "x": 200,
        "y": 120,
        "wires": [
            [
                "c8c37713f6d3bdbb"
            ]
        ]
    },
    {
        "id": "7f3c6f83cc47b9f3",
        "type": "change",
        "z": "9e95f962de164512",
        "name": "basename -> topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "$split(file, \".\")[0]\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 140,
        "wires": [
            [
                "971b764e2dc64f2f"
            ]
        ]
    },
    {
        "id": "971b764e2dc64f2f",
        "type": "switch",
        "z": "9e95f962de164512",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "receiver",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "stats",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "aircraft",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 890,
        "y": 140,
        "wires": [
            [
                "805de6d09119fce1"
            ],
            [
                "3aa8cd7ef5bedf96"
            ],
            [
                "07477b5e52ba360d"
            ]
        ]
    },
    {
        "id": "3aa8cd7ef5bedf96",
        "type": "link out",
        "z": "9e95f962de164512",
        "name": "stats json",
        "mode": "link",
        "links": [
            "87ae45c3d541df2a"
        ],
        "x": 1035,
        "y": 140,
        "wires": []
    },
    {
        "id": "805de6d09119fce1",
        "type": "link out",
        "z": "9e95f962de164512",
        "name": "receiver json",
        "mode": "link",
        "links": [
            "beebb160cf9b6f36",
            "7c0fa2ce358e8e0e",
            "807abd24f5885cc3"
        ],
        "x": 1035,
        "y": 100,
        "wires": []
    },
    {
        "id": "07477b5e52ba360d",
        "type": "change",
        "z": "9e95f962de164512",
        "name": "-> payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.aircraft",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 280,
        "wires": [
            [
                "24a4224a09280ab5",
                "8cdf09e540f54f76"
            ]
        ]
    },
    {
        "id": "24a4224a09280ab5",
        "type": "split",
        "z": "9e95f962de164512",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 910,
        "y": 280,
        "wires": [
            [
                "6a927a31926136b4"
            ]
        ]
    },
    {
        "id": "6a927a31926136b4",
        "type": "link out",
        "z": "9e95f962de164512",
        "name": "aircraft records",
        "mode": "link",
        "links": [
            "4404caecbde969ef"
        ],
        "x": 945,
        "y": 400,
        "wires": []
    },
    {
        "id": "6ec40af1917d9ff4",
        "type": "link out",
        "z": "9e95f962de164512",
        "name": "aircraft table",
        "mode": "link",
        "links": [
            "1f9a326e881f765b"
        ],
        "x": 855,
        "y": 400,
        "wires": []
    },
    {
        "id": "8cdf09e540f54f76",
        "type": "change",
        "z": "9e95f962de164512",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "aircraft-all",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 400,
        "wires": [
            [
                "6ec40af1917d9ff4"
            ]
        ]
    },
    {
        "id": "1c56f59b69d726bc",
        "type": "inject",
        "z": "9e95f962de164512",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 220,
        "wires": [
            [
                "848547a58f44700d"
            ]
        ]
    },
    {
        "id": "f0b7511ac6aab677",
        "type": "ui_button",
        "z": "9e95f962de164512",
        "name": "",
        "group": "5d571e7886c72a5e",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Recenter",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 260,
        "wires": [
            [
                "848547a58f44700d"
            ]
        ]
    },
    {
        "id": "848547a58f44700d",
        "type": "change",
        "z": "9e95f962de164512",
        "name": "receiver.json",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "/data/tmp/receiver.json",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "file",
                "pt": "msg",
                "to": "receiver.json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 160,
        "wires": [
            [
                "c8c37713f6d3bdbb"
            ]
        ]
    },
    {
        "id": "4404caecbde969ef",
        "type": "link in",
        "z": "a434980c0d70073f",
        "name": "link in 1",
        "links": [
            "6a927a31926136b4"
        ],
        "x": 115,
        "y": 200,
        "wires": [
            [
                "b54a18c9b35f8e47"
            ]
        ]
    },
    {
        "id": "03565d1e34e0f066",
        "type": "change",
        "z": "a434980c0d70073f",
        "name": "prepare for mapping",
        "rules": [
            {
                "t": "set",
                "p": "payload.name",
                "pt": "msg",
                "to": "payload.hex",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.icon",
                "pt": "msg",
                "to": "plane",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.layer",
                "pt": "msg",
                "to": "aircraft",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.speed",
                "pt": "msg",
                "to": "payload.gs * 0.5144",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 340,
        "wires": [
            [
                "d1bf963c0af13232",
                "56e46faeb90ec333"
            ]
        ]
    },
    {
        "id": "d1bf963c0af13232",
        "type": "switch",
        "z": "a434980c0d70073f",
        "name": "has callsign?",
        "property": "payload.flight",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 490,
        "y": 340,
        "wires": [
            [
                "bc502453312cb200"
            ],
            [
                "a7ed90fe34deafbd"
            ]
        ]
    },
    {
        "id": "bc502453312cb200",
        "type": "change",
        "z": "a434980c0d70073f",
        "name": "callsign -> label",
        "rules": [
            {
                "t": "set",
                "p": "payload.label",
                "pt": "msg",
                "to": "payload.flight",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.iconColor",
                "pt": "msg",
                "to": "blue",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 200,
        "wires": [
            [
                "472f03a94276dd04"
            ]
        ]
    },
    {
        "id": "a7ed90fe34deafbd",
        "type": "change",
        "z": "a434980c0d70073f",
        "name": "name -> label",
        "rules": [
            {
                "t": "set",
                "p": "payload.label",
                "pt": "msg",
                "to": "$uppercase(payload.hex)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.icon",
                "pt": "msg",
                "to": "arrow",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.iconColor",
                "pt": "msg",
                "to": "slateblue",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 380,
        "wires": [
            [
                "19e42b65ee2aa91e"
            ]
        ]
    },
    {
        "id": "472f03a94276dd04",
        "type": "switch",
        "z": "a434980c0d70073f",
        "name": "is small craft?",
        "property": "payload.flight",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "^N",
                "vt": "str",
                "case": false
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 840,
        "y": 300,
        "wires": [
            [
                "c5e3bc18fe33db62"
            ],
            [
                "19e42b65ee2aa91e"
            ]
        ]
    },
    {
        "id": "c5e3bc18fe33db62",
        "type": "change",
        "z": "a434980c0d70073f",
        "name": "small craft icon",
        "rules": [
            {
                "t": "set",
                "p": "payload.icon",
                "pt": "msg",
                "to": "smallplane",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 200,
        "wires": [
            [
                "19e42b65ee2aa91e"
            ]
        ]
    },
    {
        "id": "19e42b65ee2aa91e",
        "type": "ui_worldmap",
        "z": "a434980c0d70073f",
        "group": "8363fd07a79e8b50",
        "order": 1,
        "width": 20,
        "height": 16,
        "name": "",
        "lat": "",
        "lon": "",
        "zoom": "8",
        "layer": "OSMC",
        "cluster": "7",
        "maxage": "60",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "true",
        "coords": "deg",
        "showgrid": "false",
        "showruler": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "AC,HM",
        "maplist": "OSMC,EsriC,OpTop",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 1100,
        "y": 380,
        "wires": []
    },
    {
        "id": "bc940bbd8afbab5b",
        "type": "link in",
        "z": "a434980c0d70073f",
        "name": "link in 5",
        "links": [
            "f9311951a9a04be5"
        ],
        "x": 935,
        "y": 460,
        "wires": [
            [
                "19e42b65ee2aa91e"
            ]
        ]
    },
    {
        "id": "d388b17fb291ff1b",
        "type": "function",
        "z": "a434980c0d70073f",
        "name": "mappable?",
        "func": "if(!msg.payload.lat || !msg.payload.lon){\n    return null;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 200,
        "wires": [
            [
                "03565d1e34e0f066"
            ]
        ]
    },
    {
        "id": "f7800a14d83ea623",
        "type": "change",
        "z": "a434980c0d70073f",
        "name": "station marker",
        "rules": [
            {
                "t": "set",
                "p": "payload.layer",
                "pt": "msg",
                "to": "station",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.icon",
                "pt": "msg",
                "to": "bolt",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.name",
                "pt": "msg",
                "to": "station",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.label",
                "pt": "msg",
                "to": "Plane Spotter",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.ttl",
                "pt": "msg",
                "to": "360000",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.command",
                "pt": "msg",
                "to": "{\t   \"lat\":payload.lat,\t   \"lon\":payload.lon,\t   \"zoom\":8         \t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 500,
        "wires": [
            [
                "19e42b65ee2aa91e"
            ]
        ]
    },
    {
        "id": "4bf3dd3861bb7d93",
        "type": "function",
        "z": "a434980c0d70073f",
        "name": "range rings",
        "func": "const msgs = [];\nlet n = 0;\nfor(let nm of [92600,185200,370400]){\nmsgs.push({\n    payload:{\n        name:`RR_${++n}`,\n        radius:nm,\n        layer:'range',\n        lat:msg.payload.lat,\n        lon:msg.payload.lon,\n        fill:false,\n        strokeOpacity:0.8,\n        weight:1\n    }\n})\n}\n\nreturn [msgs];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 540,
        "wires": [
            [
                "19e42b65ee2aa91e"
            ]
        ]
    },
    {
        "id": "56e46faeb90ec333",
        "type": "debug",
        "z": "a434980c0d70073f",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 230,
        "y": 440,
        "wires": []
    },
    {
        "id": "807abd24f5885cc3",
        "type": "link in",
        "z": "a434980c0d70073f",
        "name": "link in 9",
        "links": [
            "805de6d09119fce1"
        ],
        "x": 195,
        "y": 520,
        "wires": [
            [
                "f7800a14d83ea623",
                "4bf3dd3861bb7d93"
            ]
        ]
    },
    {
        "id": "da9d6c2d06bd4b4b",
        "type": "ui_switch",
        "z": "a434980c0d70073f",
        "name": "",
        "label": "Upd",
        "tooltip": "Allow updating of aircraft positions",
        "group": "5d571e7886c72a5e",
        "order": 4,
        "width": "2",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 270,
        "y": 100,
        "wires": [
            [
                "7e34ee95dc8e0367"
            ]
        ]
    },
    {
        "id": "7e34ee95dc8e0367",
        "type": "function",
        "z": "a434980c0d70073f",
        "name": "gate control",
        "func": "flow.set('gate', msg.payload)\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set('gate',true)",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "b54a18c9b35f8e47",
        "type": "switch",
        "z": "a434980c0d70073f",
        "name": "gate",
        "property": "gate",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 210,
        "y": 200,
        "wires": [
            [
                "d388b17fb291ff1b"
            ]
        ]
    },
    {
        "id": "aab62d9dbf2996aa",
        "type": "inject",
        "z": "a434980c0d70073f",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "da9d6c2d06bd4b4b"
            ]
        ]
    },
    {
        "id": "a7ace214529cc712",
        "type": "ui_table",
        "z": "eeaa68697bf28d0e",
        "group": "350b84a00a67874f",
        "name": "",
        "order": 1,
        "width": 8,
        "height": 7,
        "columns": [
            {
                "field": "hex",
                "title": "ICAO",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "flight",
                "title": "Callsign",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "alt_baro",
                "title": "Alt",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "nav_heading",
                "title": "Heading",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "gs",
                "title": "Speed",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 850,
        "y": 420,
        "wires": [
            [
                "ac14fbfe9a152586",
                "e28964d4782e8217",
                "b9cb0a1cdd3f4461",
                "fd5e3a141c325093",
                "0151e9ab920d1bd1",
                "689ba6b091c177da",
                "074a4ccc56f2dacd",
                "094a915d2e8ecc27",
                "34cc59fd649a7191",
                "6d30a9103e1e4ff4",
                "07105d583fe42a36"
            ]
        ]
    },
    {
        "id": "1f9a326e881f765b",
        "type": "link in",
        "z": "eeaa68697bf28d0e",
        "name": "link in 6",
        "links": [
            "6ec40af1917d9ff4"
        ],
        "x": 605,
        "y": 420,
        "wires": [
            [
                "a7ace214529cc712"
            ]
        ]
    },
    {
        "id": "ac14fbfe9a152586",
        "type": "ui_text",
        "z": "eeaa68697bf28d0e",
        "group": "2a53099271750475",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ICAO",
        "format": "{{msg.payload.hex}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1190,
        "y": 420,
        "wires": []
    },
    {
        "id": "e28964d4782e8217",
        "type": "ui_text",
        "z": "eeaa68697bf28d0e",
        "group": "2a53099271750475",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Flight",
        "format": "{{msg.payload.flight}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1190,
        "y": 460,
        "wires": []
    },
    {
        "id": "b9cb0a1cdd3f4461",
        "type": "ui_text",
        "z": "eeaa68697bf28d0e",
        "group": "2a53099271750475",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Squawk",
        "format": "{{msg.payload.squawk}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1200,
        "y": 500,
        "wires": []
    },
    {
        "id": "fd5e3a141c325093",
        "type": "ui_text",
        "z": "eeaa68697bf28d0e",
        "group": "2a53099271750475",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Alt (baro)",
        "format": "{{msg.payload.alt_baro}} ft",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1200,
        "y": 540,
        "wires": []
    },
    {
        "id": "0151e9ab920d1bd1",
        "type": "ui_text",
        "z": "eeaa68697bf28d0e",
        "group": "2a53099271750475",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Alt (geo)",
        "format": "{{msg.payload.alt_geom}} ft",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1200,
        "y": 580,
        "wires": []
    },
    {
        "id": "689ba6b091c177da",
        "type": "ui_text",
        "z": "eeaa68697bf28d0e",
        "group": "2a53099271750475",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Heading (nav)",
        "format": "{{msg.payload.nav_heading}} &deg;",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1220,
        "y": 660,
        "wires": []
    },
    {
        "id": "074a4ccc56f2dacd",
        "type": "ui_text",
        "z": "eeaa68697bf28d0e",
        "group": "2a53099271750475",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Track",
        "format": "{{msg.payload.track}} &deg;",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1190,
        "y": 700,
        "wires": []
    },
    {
        "id": "094a915d2e8ecc27",
        "type": "ui_text",
        "z": "eeaa68697bf28d0e",
        "group": "2a53099271750475",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Speed (gnd)",
        "format": "{{msg.payload.gs}} kt",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1210,
        "y": 740,
        "wires": []
    },
    {
        "id": "34cc59fd649a7191",
        "type": "ui_text",
        "z": "eeaa68697bf28d0e",
        "group": "2a53099271750475",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Signal",
        "format": "{{msg.payload.rssi}} dbFS",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1190,
        "y": 780,
        "wires": []
    },
    {
        "id": "cd9e87c74de263fe",
        "type": "ui_text",
        "z": "eeaa68697bf28d0e",
        "group": "2a53099271750475",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last",
        "format": "{{msg.payload}} sec",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1190,
        "y": 820,
        "wires": []
    },
    {
        "id": "beebb160cf9b6f36",
        "type": "link in",
        "z": "eeaa68697bf28d0e",
        "name": "link in 7",
        "links": [
            "805de6d09119fce1"
        ],
        "x": 165,
        "y": 420,
        "wires": [
            [
                "11562c59e67ced59",
                "09453a8c7cd75455",
                "2ce6b92d1e037a8a"
            ]
        ]
    },
    {
        "id": "87ae45c3d541df2a",
        "type": "link in",
        "z": "eeaa68697bf28d0e",
        "name": "link in 8",
        "links": [
            "3aa8cd7ef5bedf96"
        ],
        "x": 595,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "11562c59e67ced59",
        "type": "ui_text",
        "z": "eeaa68697bf28d0e",
        "group": "5d571e7886c72a5e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Version",
        "format": "{{msg.payload.version}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 320,
        "y": 420,
        "wires": []
    },
    {
        "id": "09453a8c7cd75455",
        "type": "ui_text",
        "z": "eeaa68697bf28d0e",
        "group": "5d571e7886c72a5e",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Geo",
        "format": "{{msg.payload.lat}}, {{msg.payload.lon}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 310,
        "y": 500,
        "wires": []
    },
    {
        "id": "2ce6b92d1e037a8a",
        "type": "ui_text",
        "z": "eeaa68697bf28d0e",
        "group": "5d571e7886c72a5e",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Refresh Rate",
        "format": "{{msg.payload.refresh/1000}} / sec",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 340,
        "y": 460,
        "wires": []
    },
    {
        "id": "6d30a9103e1e4ff4",
        "type": "ui_text",
        "z": "eeaa68697bf28d0e",
        "group": "2a53099271750475",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vert Rate (baro)",
        "format": "{{msg.payload.baro_rate}} ft/min",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1220,
        "y": 620,
        "wires": []
    },
    {
        "id": "07105d583fe42a36",
        "type": "change",
        "z": "eeaa68697bf28d0e",
        "name": "last seen",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$min([payload.seen, payload.seen_pos])\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 820,
        "wires": [
            [
                "cd9e87c74de263fe"
            ]
        ]
    }
]