data/.flows.json.backup
[{"id":"4f19d12f.1e2c4","type":"tab","label":"Rx","disabled":false,"info":""},{"id":"b89551a1.981bf","type":"tab","label":"UI","disabled":false,"info":""},{"id":"b10e69ea.b687d8","type":"ui_group","name":"Map","tab":"","disp":true,"width":"6","collapse":false},{"id":"933825f3.5e6058","type":"ui_tab","name":"Local Flight Track","icon":"airport","disabled":false,"hidden":false},{"id":"96e62eeb.e7c3d","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#3f4aa2","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#3f4aa2","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#6973c5","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#3f4aa2","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Local Flight Track","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"none","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"56a51d5c.ea6104","type":"ui_group","name":"Map","tab":"933825f3.5e6058","order":1,"disp":false,"width":16,"collapse":false},{"id":"202f1509.5d29ea","type":"ui_group","name":"Dashboard","tab":"933825f3.5e6058","order":6,"disp":false,"width":"8","collapse":false},{"id":"f18730a5.cb179","type":"tcp in","z":"4f19d12f.1e2c4","name":"","server":"client","host":"recv","port":"30003","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":140,"y":80,"wires":[["bd3e632b.fd2f3"]]},{"id":"bd3e632b.fd2f3","type":"npm","z":"4f19d12f.1e2c4","name":"sbs1 decoder","func":"// NPM module exposed as variable, npm_module\nreturn npm_module(msg.payload);","npm_module":"sbs1-compat","module_style":"function","msg_payload":"return_val","function_name":"parseSbs1Message","x":400,"y":100,"wires":[["5aa27d7f.987c04","38ba4690.eaba0a"]]},{"id":"5aa27d7f.987c04","type":"switch","z":"4f19d12f.1e2c4","name":"transmission type","property":"payload.transmission_type","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"8","vt":"num"}],"checkall":"false","repair":false,"outputs":8,"x":210,"y":240,"wires":[[],[],["57adaebc.208d3"],[],[],[],[],[]],"inputLabels":["decoded"],"outputLabels":[" dent and category","surface pos","airborne pos","airborne velocity","survelience alt","survelience ID","air-to-air","allcall reply"]},{"id":"cdcd9e49.938a9","type":"change","z":"4f19d12f.1e2c4","name":"create marker","rules":[{"t":"set","p":"payload.name","pt":"msg","to":"payload.hex_ident","tot":"msg"},{"t":"set","p":"payload.icon","pt":"msg","to":"plane","tot":"str"},{"t":"set","p":"payload.label","pt":"msg","to":"payload.hex_ident","tot":"msg"},{"t":"set","p":"payload.layer","pt":"msg","to":"aircraft","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":480,"wires":[["61324609.7ede78"]]},{"id":"5ef107ca.d887f8","type":"ui_worldmap","z":"b89551a1.981bf","group":"56a51d5c.ea6104","order":1,"width":0,"height":0,"name":"","lat":"35.198284","lon":"-111.651299","zoom":"","layer":"OSM grey","cluster":"","maxage":"60","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","x":420,"y":160,"wires":[]},{"id":"61324609.7ede78","type":"link out","z":"4f19d12f.1e2c4","name":"aircraft position","links":["35166978.cc50e6"],"x":775,"y":280,"wires":[]},{"id":"35166978.cc50e6","type":"link in","z":"b89551a1.981bf","name":"aircraft positoin reader","links":["61324609.7ede78"],"x":175,"y":160,"wires":[["5ef107ca.d887f8"]]},{"id":"98a57f56.47916","type":"ui_clock","z":"b89551a1.981bf","name":"Phoenix","group":"202f1509.5d29ea","order":2,"width":2,"height":2,"x":660,"y":300,"wires":[]},{"id":"aa9941a7.96ba7","type":"inject","z":"b89551a1.981bf","name":"","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":300,"wires":[["98a57f56.47916","83908d22.9874","62ba3053.5cd04","3654a4ea.32beec"]]},{"id":"a12db8d6.0aae48","type":"ui_clock","z":"b89551a1.981bf","name":"New York","group":"202f1509.5d29ea","order":3,"width":2,"height":2,"x":640,"y":380,"wires":[]},{"id":"83908d22.9874","type":"function","z":"b89551a1.981bf","name":"to EST","func":"const s = new Date(msg.payload).toLocaleString(\"en-us\", {timeZone: \"America/New_York\"});\nmsg.payload = Date.parse(s);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":380,"wires":[["a12db8d6.0aae48"]]},{"id":"62ba3053.5cd04","type":"function","z":"b89551a1.981bf","name":"to PST","func":"const s = new Date(msg.payload).toLocaleString(\"en-us\", {timeZone: \"America/Los_Angeles\"});\nmsg.payload = Date.parse(s);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":240,"wires":[["8ffe570.dd6c9a8"]]},{"id":"8ffe570.dd6c9a8","type":"ui_clock","z":"b89551a1.981bf","name":"LA","group":"202f1509.5d29ea","order":1,"width":2,"height":2,"x":650,"y":240,"wires":[]},{"id":"3654a4ea.32beec","type":"function","z":"b89551a1.981bf","name":"to UTC","func":"const s = new Date(msg.payload).toLocaleString(\"en-us\", {timeZone: \"UTC\"});\nmsg.payload = Date.parse(s);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":480,"wires":[["1042704.4c7279"]]},{"id":"1042704.4c7279","type":"ui_clock","z":"b89551a1.981bf","name":"London","group":"202f1509.5d29ea","order":4,"width":2,"height":2,"x":640,"y":480,"wires":[]},{"id":"38ba4690.eaba0a","type":"debug","z":"4f19d12f.1e2c4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":80,"wires":[]},{"id":"c0cf7bfd.af5088","type":"ui_text","z":"b89551a1.981bf","group":"202f1509.5d29ea","order":5,"width":2,"height":1,"name":"","label":"L.A.","format":"","layout":"col-center","x":750,"y":240,"wires":[]},{"id":"be1418e2.bd0f88","type":"ui_text","z":"b89551a1.981bf","group":"202f1509.5d29ea","order":7,"width":2,"height":1,"name":"","label":"New York","format":"","layout":"col-center","x":760,"y":380,"wires":[]},{"id":"7c4448cf.8194c8","type":"ui_text","z":"b89551a1.981bf","group":"202f1509.5d29ea","order":6,"width":2,"height":1,"name":"","label":"Phoenix","format":"","layout":"col-center","x":780,"y":300,"wires":[]},{"id":"402cd4cc.2662bc","type":"ui_text","z":"b89551a1.981bf","group":"202f1509.5d29ea","order":8,"width":2,"height":1,"name":"","label":"London","format":"","layout":"col-center","x":760,"y":480,"wires":[]},{"id":"a8716b9c.ce9fe8","type":"ui_table","z":"b89551a1.981bf","group":"202f1509.5d29ea","name":"flight info","order":9,"width":0,"height":0,"columns":[{"field":"hex_ident","title":"ID","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"track","title":"Trk","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"ground_speed","title":"Vel","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"vertical_rate","title":"Vert","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"altitude","title":"Alt","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":420,"y":100,"wires":[]},{"id":"3257464c.5cb13a","type":"link in","z":"b89551a1.981bf","name":"flight info reader","links":["8fcb4c94.b35ce"],"x":175,"y":100,"wires":[["a8716b9c.ce9fe8"]]},{"id":"8fcb4c94.b35ce","type":"link out","z":"4f19d12f.1e2c4","name":"flight info","links":["3257464c.5cb13a"],"x":775,"y":220,"wires":[]},{"id":"7fc83da9.c08964","type":"switch","z":"4f19d12f.1e2c4","name":"ui router","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"flight","vt":"str"},{"t":"eq","v":"position","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":440,"y":340,"wires":[["8fcb4c94.b35ce"],["cdcd9e49.938a9"]],"outputLabels":["flight info","aircraft positions"]},{"id":"57adaebc.208d3","type":"change","z":"4f19d12f.1e2c4","name":"mark as position","rules":[{"t":"set","p":"topic","pt":"msg","to":"position","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":260,"wires":[["7fc83da9.c08964"]]}]