data/.flows.json.backup
[{"id":"4f19d12f.1e2c4","type":"tab","label":"Rx","disabled":false,"info":""},{"id":"22062ea4.eb1692","type":"tab","label":"Db","disabled":false,"info":"This flow takes all of the incomming messages from the receiver and uses them to update an in-memory database of every aircraft seen. \n\nWhen an aircraft record changes, it is sent to the out-link for consumption by other flows.\n\nEvery n-seconds every active aircraft record is checked and if no messages have been received for m-seconds, the record is set to in-active."},{"id":"b89551a1.981bf","type":"tab","label":"UI","disabled":false,"info":""},{"id":"933825f3.5e6058","type":"ui_tab","name":"Local Flight Track","icon":"airport","disabled":false,"hidden":false},{"id":"b10e69ea.b687d8","type":"ui_group","name":"Map","tab":"","disp":true,"width":"6","collapse":false},{"id":"56a51d5c.ea6104","type":"ui_group","name":"Map","tab":"933825f3.5e6058","order":1,"disp":false,"width":16,"collapse":false},{"id":"202f1509.5d29ea","type":"ui_group","name":"Dashboard","tab":"933825f3.5e6058","order":6,"disp":false,"width":"8","collapse":false},{"id":"96e62eeb.e7c3d","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#3f4aa2","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#3f4aa2","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#6973c5","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#3f4aa2","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Local Flight Track","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"none","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f18730a5.cb179","type":"tcp in","z":"4f19d12f.1e2c4","name":"","server":"client","host":"recv","port":"30003","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":140,"y":80,"wires":[["bd3e632b.fd2f3"]]},{"id":"aa9941a7.96ba7","type":"inject","z":"b89551a1.981bf","name":"","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":300,"wires":[["83908d22.9874","62ba3053.5cd04","3654a4ea.32beec","963dcd83.7eef1"]]},{"id":"83908d22.9874","type":"function","z":"b89551a1.981bf","name":"to EST","func":"const s = new Date(msg.payload).toLocaleString(\"en-us\", {timeZone: \"America/New_York\"});\nmsg.payload = Date.parse(s);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":380,"wires":[["fc20e6b5.913768"]]},{"id":"62ba3053.5cd04","type":"function","z":"b89551a1.981bf","name":"to PST","func":"const s = new Date(msg.payload).toLocaleString(\"en-us\", {timeZone: \"America/Los_Angeles\"});\nmsg.payload = Date.parse(s);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":240,"wires":[["c146ce72.9e2e6"]]},{"id":"3654a4ea.32beec","type":"function","z":"b89551a1.981bf","name":"to UTC","func":"const s = new Date(msg.payload).toLocaleString(\"en-us\", {timeZone: \"UTC\"});\nmsg.payload = Date.parse(s);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":480,"wires":[["55b98cbe.db5894"]]},{"id":"a8716b9c.ce9fe8","type":"ui_table","z":"4f19d12f.1e2c4","group":"202f1509.5d29ea","name":"flight info","order":9,"width":0,"height":0,"columns":[{"field":"hex_ident","title":"ID","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"track","title":"Trk","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"ground_speed","title":"Vel","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"vertical_rate","title":"Vert","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"altitude","title":"Alt","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":420,"y":100,"wires":[]},{"id":"bd3e632b.fd2f3","type":"npm","z":"4f19d12f.1e2c4","name":"sbs1 decoder","func":"// NPM module exposed as variable, npm_module\nreturn npm_module(msg.payload);","npm_module":"sbs1-compat","module_style":"function","msg_payload":"return_val","function_name":"parseSbs1Message","x":400,"y":100,"wires":[["29a028a4.6ab5c8"]]},{"id":"c146ce72.9e2e6","type":"ui_clock","z":"b89551a1.981bf","name":"LA","group":"202f1509.5d29ea","order":1,"width":2,"height":2,"x":670,"y":240,"wires":[]},{"id":"96f1be7c.dedc9","type":"ui_text","z":"b89551a1.981bf","group":"202f1509.5d29ea","order":5,"width":2,"height":1,"name":"","label":"L.A.","format":"","layout":"col-center","x":770,"y":240,"wires":[]},{"id":"963dcd83.7eef1","type":"ui_clock","z":"b89551a1.981bf","name":"Phoenix","group":"202f1509.5d29ea","order":2,"width":2,"height":2,"x":680,"y":300,"wires":[]},{"id":"30dbd460.fe73dc","type":"ui_text","z":"b89551a1.981bf","group":"202f1509.5d29ea","order":6,"width":2,"height":1,"name":"","label":"Phoenix","format":"","layout":"col-center","x":800,"y":300,"wires":[]},{"id":"fc20e6b5.913768","type":"ui_clock","z":"b89551a1.981bf","name":"New York","group":"202f1509.5d29ea","order":3,"width":2,"height":2,"x":660,"y":380,"wires":[]},{"id":"f681e674.fee3d8","type":"ui_text","z":"b89551a1.981bf","group":"202f1509.5d29ea","order":7,"width":2,"height":1,"name":"","label":"New York","format":"","layout":"col-center","x":780,"y":380,"wires":[]},{"id":"55b98cbe.db5894","type":"ui_clock","z":"b89551a1.981bf","name":"London","group":"202f1509.5d29ea","order":4,"width":2,"height":2,"x":660,"y":480,"wires":[]},{"id":"473921c8.bafbf","type":"ui_text","z":"b89551a1.981bf","group":"202f1509.5d29ea","order":8,"width":2,"height":1,"name":"","label":"London","format":"","layout":"col-center","x":780,"y":480,"wires":[]},{"id":"5ef107ca.d887f8","type":"ui_worldmap","z":"b89551a1.981bf","group":"56a51d5c.ea6104","order":1,"width":0,"height":0,"name":"","lat":"35.198284","lon":"-111.651299","zoom":"","layer":"OSM grey","cluster":"","maxage":"60","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","x":800,"y":60,"wires":[]},{"id":"fb63c521.8f3888","type":"link in","z":"22062ea4.eb1692","name":"adsb-message reader","links":["7de6f7c3.2417a8"],"x":175,"y":100,"wires":[["f917b55e.a5f3c8"]]},{"id":"7de6f7c3.2417a8","type":"link out","z":"4f19d12f.1e2c4","name":"adsb-messages","links":["fb63c521.8f3888"],"x":775,"y":160,"wires":[]},{"id":"bfa5d008.4bfae","type":"debug","z":"22062ea4.eb1692","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":40,"wires":[]},{"id":"f917b55e.a5f3c8","type":"function","z":"22062ea4.eb1692","name":"mark last seen","func":"msg.payload.last_seen = Date.now();\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":140,"y":220,"wires":[["66eee79d.ecb408"]]},{"id":"66eee79d.ecb408","type":"function","z":"22062ea4.eb1692","name":"get aircraft record","func":"msg.db = flow.get(msg.payload.hex_ident);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":170,"y":340,"wires":[["682addbf.0fb5a4"]]},{"id":"89048963.9f31a8","type":"function","z":"22062ea4.eb1692","name":"update record from msg","func":"const keys = Object.keys(msg.payload);\nkeys.forEach(key =>{\n    if(msg.payload[key]){\n        msg.db[key] = msg.payload[key];\n    }\n});\n\nmsg.payload = Object.assign({}, msg.db);\ndelete msg.db;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":460,"wires":[["f477c576.158df8","15dd7292.72f38d"]]},{"id":"e38f79f9.9bcf28","type":"link out","z":"22062ea4.eb1692","name":"aircraft records","links":["17438f18.aa3ae1"],"x":855,"y":160,"wires":[]},{"id":"682addbf.0fb5a4","type":"switch","z":"22062ea4.eb1692","name":"check for existing record","property":"db","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":100,"wires":[["15dd7292.72f38d"],["89048963.9f31a8"]],"outputLabels":["no record exists","aircraft record exists"]},{"id":"f477c576.158df8","type":"debug","z":"22062ea4.eb1692","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":440,"wires":[]},{"id":"15dd7292.72f38d","type":"function","z":"22062ea4.eb1692","name":"save aircraft record","func":"flow.set(msg.payload.hex_ident, msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":100,"wires":[["e38f79f9.9bcf28","bfa5d008.4bfae"]]},{"id":"29a028a4.6ab5c8","type":"switch","z":"4f19d12f.1e2c4","name":"transmission type 1-4","property":"payload.transmission_type","propertyType":"msg","rules":[{"t":"lte","v":"4","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":480,"y":200,"wires":[["edbc7b98.e845f8"],[]],"outputLabels":["transmission is 1-4","> 4"]},{"id":"17438f18.aa3ae1","type":"link in","z":"b89551a1.981bf","name":"aircraft reader","links":["e38f79f9.9bcf28"],"x":155,"y":80,"wires":[["c2b2bbc4.451a58"]]},{"id":"c2b2bbc4.451a58","type":"change","z":"b89551a1.981bf","name":"set marker properties","rules":[{"t":"set","p":"payload.name","pt":"msg","to":"payload.hex_ident","tot":"msg"},{"t":"set","p":"payload.label","pt":"msg","to":"msg.payload.flight_id ? msg.payload.flight_id : msg.payload.hex_ident","tot":"jsonata"},{"t":"set","p":"payload.iconColor","pt":"msg","to":"msg.payload.vert_speed < 10 ? \"red\" : msg.payload.vert_speed > 10 ? \"green\" : \"black\"","tot":"jsonata"},{"t":"set","p":"payload.icon","pt":"msg","to":"plane","tot":"str"},{"t":"set","p":"payload.heading","pt":"msg","to":"payload.track","tot":"msg"},{"t":"set","p":"payload.speed","pt":"msg","to":"payload.ground_speed","tot":"msg"},{"t":"set","p":"payload.accuracy","pt":"msg","to":"10","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":80,"wires":[["5ef107ca.d887f8"]]},{"id":"edbc7b98.e845f8","type":"function","z":"4f19d12f.1e2c4","name":"delete unused properties","func":"delete msg.payload.message_type;\ndelete msg.payload.transmission_type;\ndelete msg.payload.generated_date;\ndelete msg.payload.generated_time;\ndelete msg.payload.logged_date;\ndelete msg.payload.logged_time;\ndelete msg.payload.is_on_ground;\ndelete msg.payload.squawk;\ndelete msg.payload.alert;\ndelete msg.payload.emergency;\ndelete msg.payload.spi;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":320,"wires":[["7de6f7c3.2417a8","46de3d45.236f54"]]},{"id":"46de3d45.236f54","type":"debug","z":"4f19d12f.1e2c4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":120,"wires":[]}]