hub/.flows.json.backup
[{"id":"4f19d12f.1e2c4","type":"tab","label":"Recv/Parse","disabled":false,"info":""},{"id":"b89551a1.981bf","type":"tab","label":"UI","disabled":false,"info":""},{"id":"d83932e3.eda79","type":"tcp in","z":"4f19d12f.1e2c4","name":"","server":"client","host":"adsb","port":"30003","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":220,"y":120,"wires":[[]]},{"id":"19059f10.514461","type":"debug","z":"4f19d12f.1e2c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":120,"wires":[]},{"id":"47d05f1.d3aeaa","type":"npm","z":"4f19d12f.1e2c4","name":"sbs1 parser","func":"// NPM module exposed as variable, npm_module\nreturn npm_module(msg.payload);","npm_module":"sbs1-compat","module_style":"function","msg_payload":"return_val","function_name":"parseSbs1Message","x":310,"y":300,"wires":[["a7faba0c.e906a8"]]},{"id":"a7faba0c.e906a8","type":"link out","z":"4f19d12f.1e2c4","name":"parsed-stream","links":[],"x":580,"y":280,"wires":[],"l":true},{"id":"f18730a5.cb179","type":"tcp in","z":"4f19d12f.1e2c4","name":"","server":"client","host":"adsb","port":"300001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":230,"y":220,"wires":[["19059f10.514461"]]}]